@font-face {
    font-family: "ALS Schlange Sans";
    font-weight: 900;
    font-style: normal;
    src: url("../fonts/ALSSchlangesans-Black.woff2") format("woff2"), url("fonts/ALSSchlangesans-Black.woff") format("woff");
}

@font-face {
  font-family: "Myriad Pro Regular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/MYRIADPRO-REGULAR.woff") format("woff");
}

@font-face {
  font-family: "RotondaC";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/rotondac.woff") format("woff");
}

@font-face {
font-family: "RotondaC Bold";
font-style: normal;
font-weight: normal;
src: url("../fonts/rotondac-bold.woff") format("woff");
}


html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "RotondaC", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.page-wrap {
  width: 300px;
  margin: 0 auto;
}

.status {
  color: #ffffff;
  font-family: "RotondaC Bold", "Arial", sans-serif;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  background-color: #2856a8;
  padding: 16px 38px 13px 18px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  position: relative;
}

.status__number {
  color: #f1d02f;
}

.button-close {
  position: absolute;
  width: 9px;
  height: 9px;
  background: transparent;
  border: none;
  cursor: pointer;
  top: 9px;
  right: 12px;
}

.button-close::before,
.button-close::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 2px;
  background-color: #ffffff;
  top: 5px;
  left: -1px;
}

.button-close::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.button-close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.content-wrap {
  padding: 30px 18px 17px;
  position: relative;
}

.content-wrap::before {
  content: "10%";
  position: absolute;
  display: block;
  width: 95px;
  text-align: center;
  padding: 9px 0 8px 0;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  color: #f1d02f;
  background-color: #2856a8;
  font-family: "ALS Schlange Sans";
  font-size: 25px;
  line-height: 31px;
  right: 0;
  top: 16px;
}


.name {
  color: #2856a8;
  font-family: "ALS Schlange Sans";
  font-size: 18px;
  line-height: 18px;
  margin: 0 0 20px 0;
}

.discount {
  margin: 0;
  font-family: "Myriad Pro Regular";
  color: #484848;
  width: 230px;
}

.social__list {
  margin: 19px 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.social__item {
  width: 53px;
  height: 53px;
  border-radius: 50%;
  text-align: center;
}

.social__item--odnoclass {
  border: 2px solid #ef8116;
  padding-top: 12px;
}

.social__item--facebook {
  border: 2px solid #414594;
  padding-top: 12px;
  padding-right: 2px;
}

.social__item--twitter {
  border: 2px solid #3aaae3;
  padding-top: 17px;
}

.social__item--vkontakte {
  border: 2px solid #416da1;
  padding-top: 14px;
  padding-left: 2px;
}

.form__item-email {
  display: block;
  width: 264px;
  padding: 6px 0 5px 12px;
  border: 1px solid #2856a8;
  border-radius: 5px;
  color: #b2b2b2;  /*здесь по идеи текст ввода лучше потемнее*/
}

.form__item-email::placeholder {
  color: #b2b2b2;
}

.form__item-text {
  padding: 15px 0 0 10px;
  margin: 12px 0 15px 0;
  resize: none;
  display: block;
  width: 264px;
  min-height: 150px;
  border: 1px solid #2856a8;
  border-radius: 5px;
  color: #484848;
}

.form__button {
  border: none;
  background-color: #2856a8;
  color: #ffffff;
  width: 264px;
  border-radius: 24px;
  padding: 15px 0 14px 0;
  text-decoration: center;
  cursor: pointer;
}

.regulation {
  background-color: #2856a8;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 21px 18px 15px;
  color: #ffffff;
  text-align: center;
}

.regulation__link {
  display: block;
  padding: 0;
  width: 264px;
  border: 1px dashed #2856a8;
  border-radius: 8px;
  color: #2856a8;
  padding: 12px 0 12px 17px;
}

.regulation__link::placeholder {
   color: #2856a8;
}

.regulation__text {
  margin: 24px 0 19px 79px;
  font-size: 12px;
  line-height: 18px;
  position: relative;
  width: 86px;
}

.regulation__text-button {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 7px;
  right: -16px;
}

.regulation__text-button::before,
.regulation__text-button::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 1px;
  background-color: #f1d02f;
}

.regulation__text-button::before {
   right: 4px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.regulation__text-button::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.regulation__license {
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: underline;
  color: #ffffff;
}